.cor-de-fundo{
    background-color: rgb(0, 0, 0);
}
.negrito{
    width: 50%;
    color: rgb(19, 153, 60);
    margin: 0 auto; 

}















footer{
    position: fixed;
    bottom: 0;
    left: 0;
}

.container-img img{
    width: 2%;
    margin: 0 auto;
}
